.about_div {
    margin-top: 100px;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_div span {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width: 30%; */
    padding: 30px;
    font-size: 1.5em;
    font-weight: 150;
    border-radius: 5px;
    background-color: white;
    color: #5d5e64;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}